@media (max-width: 1624px) {
  #video-button-sec-home3 {
    padding-left: 215px;
    padding-right: 215px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  #video-button-sec-home3 {
    padding-left: 153px;
    padding-right: 153px;
  }
  .about-form-main-wrapper {
    top: -435px !important;
    left: -316px !important;
  }
}
@media (max-width: 1400px) {
  #video-button-sec-home3 {
    padding-left: 103px;
    padding-right: 103px;
  }
  .fallow-testimonial-2-box {
    padding: 30px !important;
  }
}
@media (max-width: 1250px) {
  #video-button-sec-home3 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media (max-width: 1150px) {
  .footer1-css {
    padding-left: 30px !important;
    padding-right: 30px;
  }
  .footer1-botom-css {
    padding: 25px 30px !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .single__team::before {
    height: 275px;
  }
  .about-form-main-wrapper {
    top: -380px !important;
    left: -34px !important;
  }
}
@media (max-width: 1100px) {
  .home-tablet-section {
    padding-left: 30px !important;
  }
  .team__style__3 .single__team::before {
    height: 78.7%;
  }
}
@media (max-width: 1050px) {
  .single__team::before {
    height: 261px;
  }
}
@media (max-width: 1000px) {
  .team__style__3 .single__team::before {
    height: 76.7%;
  }
}
@media (max-width: 999px) {
  .team__style__3 .single__team::before {
    height: 87.5%;
  }
}
@media (max-width: 960px) {
  .team__style__3 .single__team::before {
    height: 87.1%;
  }
}
@media (max-width: 900px) {
  .team__style__3 .single__team::before {
    height: 85.8%;
  }
}
@media (max-width: 800px) {
  .team__style__3 .single__team::before {
    height: 84.8%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tab__style__2 img {
    max-width: 430px !important;
    margin-left: -100px;
  }
  .single__team::before {
    height: 523px;
  }
  .blog-sidebar {
    margin-left: 0;
    margin-top: 0px;
  }
  .about-form-main-wrapper .about-cta input {
    width: 260px !important;
  }
  .elementor-column[data-col="33"],
  .home2-pricing .elementor-column.elementor-col-33 {
    width: 50%;
  }
  .team__style__3 .single__team::before {
    height: 83.8%;
  }
  .offcanvas-brand {
    text-align: left !important;
  }
  .admin-bar .offcanvas_menu_wrapper {
    top: 30px;
  }
}
@media (max-width: 768px) {
  .footer1-css {
    padding: 50px 30px !important;
  }
  .admin-bar .offcanvas_menu_wrapper {
    top: 45px;
  }
}
@media (max-width: 768px) {
  .offcanvas-brand {
    text-align: left !important;
  }
}
@media (max-width: 720px) {
  .team__style__3 .single__team::before {
    height: 82.8%;
  }
}
@media (max-width: 950px) {
  .single__team::before {
    height: 501px;
  }
}
@media (max-width: 900px) {
  .single__team::before {
    height: 472px;
  }
}
@media (max-width: 850px) {
  .single__team::before {
    height: 444px;
  }
}
@media (max-width: 800px) {
  .single__team::before {
    height: 417px;
  }
}
@media (max-width: 768px) {
  .single .fallow-page-title-area .bp-meta a {
    padding: 8px 0;
  }
  .bp-meta a:nth-child(2) {
    display: none !important;
  }
  .gallery-columns-2 .gallery-item {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .blog-sidebar .widget {
    margin: 0 0 30px 0;
  }
  .nav-tabs.tab__nav.tab__nav__style__2 {
    margin-bottom: 180px;
  }
  .elementor-1848
    .elementor-element.elementor-element-107f61e
    .elementor-button {
    padding: 14px 38px 14px 38px !important;
  }
  .home2-mobile-sectn
    .elementor-section.elementor-section-boxed
    > .elementor-container {
    max-width: 100% !important;
  }
  .bar.navigation-button.element-ready-canvas-bar {
    margin-left: 150px;
  }
}
@media (max-width: 767px) {
  .tab__style__2 img {
    max-width: 370px !important;
    margin-left: -45px !important;
  }
  .tab-template-wrap {
    margin-top: -80px;
  }
  .home1-cta-form .cta-btn {
    margin-top: 20px;
  }
  .home1-cta-form .cta-name {
    width: 270px !important;
  }
  .home1-cta-form .cta-name {
    margin-top: 20px;
  }
  .single__team::before {
    height: 390px;
  }
  .single__team::before {
    height: 361px;
  }
  .nav-tabs.tab__nav.tab__nav__style__2 {
    padding-top: 90px !important;
  }
  .price-tab-main-wrapper
    .pricing-tab1
    .elementor-widget-wrap.elementor-element-populated {
    height: inherit !important;
    margin-bottom: 30px !important;
  }
  .price-tab-main-wrapper
    .pricing-tab2
    .elementor-widget-wrap.elementor-element-populated {
    height: inherit;
    margin-bottom: 30px !important;
  }
  .pricing-tab1 .elementor-widget-wrap.elementor-element-populated {
    height: inherit;
    margin-bottom: 30px !important;
  }
  .pricing-tab2 .elementor-widget-wrap.elementor-element-populated {
    height: inherit;
    margin-bottom: 30px !important;
  }

  .tab__style__2 img {
    max-width: 370px !important;
    margin-left: -100px !important;
  }
  .servies-head-css .bar.navigation-button.element-ready-canvas-bar {
    position: absolute !important;
    right: -210px !important;
  }
  .header2-css .bar.navigation-button.element-ready-canvas-bar {
    position: absolute !important;
    right: -210px !important;
  }
  .elementor-column[data-col="33"],
  .home2-pricing .elementor-column.elementor-col-33 {
    width: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
  .price-tab-main-wrapper
    .pricing-tab1
    .elementor-widget-wrap.elementor-element-populated {
    height: inherit !important;
  }
  .price-tab-main-wrapper
    .pricing-tab2
    .elementor-widget-wrap.elementor-element-populated {
    height: inherit;
  }
  .price-tab-main-wrapper
    .pricing-tab3
    .elementor-widget-wrap.elementor-element-populated {
    height: inherit;
  }
  .header2-css .bar.navigation-button.element-ready-canvas-bar {
    position: absolute !important;
    right: -110px !important;
  }
}
@media (max-width: 763px) {
  .pricing-tab-main.pricing-tab1 {
    width: 50% !important;
  }
  .pricing-tab-main.pricing-tab2 {
    width: 50% !important;
  }
  .pricing-tab-main.pricing-tab3 {
    width: 50% !important;
  }
  #home2-hero-img {
    top: 210px;
  }
}
@media (max-width: 710px) {
  .header4-css .bar.navigation-button.element-ready-canvas-bar {
    margin-left: 100px;
  }
}
@media (max-width: 470px) {
  .header2-css .bar.navigation-button.element-ready-canvas-bar {
    position: absolute !important;
    right: -127px !important;
  }
}
@media (max-width: 700px) {
  .pricing-tab-main.pricing-tab1 {
    width: 100% !important;
  }
  .pricing-tab-main.pricing-tab2 {
    width: 100% !important;
  }
  .pricing-tab-main.pricing-tab3 {
    width: 100% !important;
  }
  .header4-css .bar.navigation-button.element-ready-canvas-bar {
    margin-left: 100px;
  }
  .team__style__3 .single__team::before {
    height: 82.7%;
  }
}
@media (max-width: 650px) {
  .header4-css .bar.navigation-button.element-ready-canvas-bar {
    margin-left: 64px;
  }
}
@media (max-width: 600px) {
  .header4-css .bar.navigation-button.element-ready-canvas-bar {
    margin-left: 20px;
  }
  .team__style__3 .single__team::before {
    height: 79.7%;
  }
}
@media (max-width: 576px) {
  .footer1-css .elementor-widget-wrap.elementor-element-populated {
    margin: 15px 0 !important;
  }
  .header4-css .element-ready-canvas-bar {
    right: -140px !important;
  }
  .hero-btn-responsive
    .elementor-button-link.elementor-button.elementor-size-sm {
    margin-right: 20px;
    margin-left: 15px;
  }
  .team__style__3 .single__team::before {
    height: 88.2%;
  }
  .fallow-video-player-slider {
    padding-left: 76px !important;
  }
  .fallow-paly-btncss {
    margin-left: 18%;
    margin-top: 43px;
  }
}
@media (max-width: 574px) {
  .home1-hero-btn .elementor-button-link.elementor-button.elementor-size-sm {
    margin-right: 15px;
  }
  .home1-hero-btn .elementor-button-wrapper {
    margin-left: 15px;
  }
  .home1-hero-btn {
    padding-left: 90px !important;
  }
}
@media (max-width: 522px) {
  .elementor-column[data-col="33"],
  .home2-pricing .elementor-column.elementor-col-33 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .team__style__3 .single__team::before {
    height: 87.4%;
  }
}
@media (max-width: 450px) {
  .team__style__3 .single__team::before {
    height: 86.4%;
  }
  .fallow-paly-btncss {
    margin-top: 5%;
    margin-left: 11%;
  }
}
@media (max-width: 420px) {
  .team__style__3 .single__team::before {
    height: 85.4%;
  }
}
@media (max-width: 400px) {
  .team__style__3 .single__team::before {
    height: 84.5%;
  }
  .appi-video-slidercss {
    margin-left: -50px;
  }
  .fallow-paly-btncss {
    margin-left: 7%;
    margin-top: 2%;
  }
  .fallow-hero-content-2 {
    width: 466px;
  }
}
@media (max-width: 392px) {
  .home1-hero-btn {
    padding-left: 26px !important;
  }
}
@media (max-width: 350px) {
  .fallow-paly-btncss {
    margin-left: 0;
    margin-top: -1%;
  }
}
@media (max-width: 320px) {
  .home1-hero-btn {
    padding-left: 0 !important;
  }

  .header4-css .element-ready-canvas-bar {
    right: -117px !important;
  }
  .team__style__3 .single__team::before {
    height: 81.4%;
  }
  .fallow-paly-btncss {
    margin-left: -26px;
    margin-top: -12px;
  }
}
